In [150]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pickle

# New Section

In [151]:
data1=pd.read_csv('/content/IPL Matches 2008-2020.csv')
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [152]:
data2=pd.read_csv('/content/IPL Ball-by-Ball 2008-2020 first.csv')
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
dtypes: int64(9), object(9)
memory usage: 26.6+ MB

In [153]:
data=data1.merge(data2, on='id')
data

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,...,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,Bangalore,18-04-2008,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,Bangalore,18-04-2008,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,Bangalore,18-04-2008,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,Bangalore,18-04-2008,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,Bangalore,18-04-2008,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,Dubai,10-11-2020,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,Dubai,10-11-2020,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,Dubai,10-11-2020,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1237181,Dubai,10-11-2020,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1237181,Dubai,10-11-2020,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [154]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193468 entries, 0 to 193467
Data columns (total 34 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   city              190329 non-null  object
 2   date              193468 non-null  object
 3   player_of_match   193096 non-null  object
 4   venue             193468 non-null  object
 5   neutral_venue     193468 non-null  int64
 6   team1             193468 non-null  object
 7   team2             193468 non-null  object
 8   toss_winner       193468 non-null  object
 9   toss_decision     193468 non-null  object
 10  winner            193096 non-null  object
 11  result            193096 non-null  object
 12  result_margin     189871 non-null  float64
 13  eliminator        193096 non-null  object
 14  method            3208 non-null    object
 15  umpire1           193468 non-null  object
 16  umpire2           193468 non-null  object
 17  inning            193468 non-null  int64
 18  over              193468 non-null  int64
 19  ball              193468 non-null  int64
 20  batsman           193468 non-null  object
 21  non_striker       193468 non-null  object
 22  bowler            193468 non-null  object
 23  batsman_runs      193468 non-null  int64
 24  extra_runs        193468 non-null  int64
 25  total_runs        193468 non-null  int64
 26  non_boundary      193468 non-null  int64
 27  is_wicket         193468 non-null  int64
 28  dismissal_kind    9495 non-null    object
 29  player_dismissed  9495 non-null    object
 30  fielder           6784 non-null    object
 31  extras_type       10233 non-null   object
 32  batting_team      193468 non-null  object
 33  bowling_team      193277 non-null  object
dtypes: float64(1), int64(10), object(23)
memory usage: 51.7+ MB

In [155]:
data.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2', 'inning',
       'over', 'ball', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [156]:
data=data.drop(columns=['date','city','umpire1','umpire2','batsman','non_striker','bowler','batsman_runs','extra_runs','result', 'non_boundary','eliminator','result_margin','dismissal_kind', 'player_dismissed', 'fielder', 'extras_type'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193468 entries, 0 to 193467
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               193468 non-null  int64
 1   player_of_match  193096 non-null  object
 2   venue            193468 non-null  object
 3   neutral_venue    193468 non-null  int64
 4   team1            193468 non-null  object
 5   team2            193468 non-null  object
 6   toss_winner      193468 non-null  object
 7   toss_decision    193468 non-null  object
 8   winner           193096 non-null  object
 9   method           3208 non-null    object
 10  inning           193468 non-null  int64
 11  over             193468 non-null  int64
 12  ball             193468 non-null  int64
 13  total_runs       193468 non-null  int64
 14  is_wicket        193468 non-null  int64
 15  batting_team     193468 non-null  object
 16  bowling_team     193277 non-null  object
dtypes: int64(7), object(10)
memory usage: 26.6+ MB

In [157]:
data1=data.groupby(['id','inning']).sum()['total_runs']
data1

<ipython-input-157-20466f37d5e9>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data1=data.groupby(['id','inning']).sum()['total_runs']

id       inning
335982   1         222
         2          82
335983   1         240
         2         207
335984   1         129
                  ...
1237178  2         132
1237180  1         189
         2         172
1237181  1         156
         2         157
Name: total_runs, Length: 1630, dtype: int64

In [158]:
data1=data1.reset_index()
data1

           id  inning  total_runs
0      335982       1         222
1      335982       2          82
2      335983       1         240
3      335983       2         207
4      335984       1         129
...       ...     ...         ...
1625  1237178       2         132
1626  1237180       1         189
1627  1237180       2         172
1628  1237181       1         156
1629  1237181       2         157

[1630 rows x 3 columns]

In [159]:
data1=data1[data1.inning==1]
data1

           id  inning  total_runs
0      335982       1         222
2      335983       1         240
4      335984       1         129
6      335985       1         165
8      335986       1         110
...       ...     ...         ...
1620  1216547       1         201
1622  1237177       1         200
1624  1237178       1         131
1626  1237180       1         189
1628  1237181       1         156

[816 rows x 3 columns]

In [160]:
data1['Target']=data1['total_runs']+1
data1.drop(['total_runs'],axis='columns',inplace=True)
data1

<ipython-input-160-b2f71d906c31>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Target']=data1['total_runs']+1
<ipython-input-160-b2f71d906c31>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.drop(['total_runs'],axis='columns',inplace=True)

           id  inning  Target
0      335982       1     223
2      335983       1     241
4      335984       1     130
6      335985       1     166
8      335986       1     111
...       ...     ...     ...
1620  1216547       1     202
1622  1237177       1     201
1624  1237178       1     132
1626  1237180       1     190
1628  1237181       1     157

[816 rows x 3 columns]

In [161]:
data=data.merge(data1,on='id')
data

,id,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,method,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,inning_y,Target
0,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,1,6,5,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
1,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,1,6,6,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
2,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,1,7,1,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
3,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,1,7,2,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
4,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,1,7,3,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,1,12,5,0,0,Delhi Capitals,Mumbai Indians,1,157
193464,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,1,12,6,1,0,Delhi Capitals,Mumbai Indians,1,157
193465,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,1,13,1,1,0,Delhi Capitals,Mumbai Indians,1,157
193466,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,1,13,2,1,0,Delhi Capitals,Mumbai Indians,1,157
193467,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,1,13,3,1,0,Delhi Capitals,Mumbai Indians,1,157

In [162]:
data=data[(data.inning_x==2)]
data

,id,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,method,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,inning_y,Target
121,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,2,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
122,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,2,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
123,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,2,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
124,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,2,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
125,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,2,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,2,17,6,1,0,Mumbai Indians,Delhi Capitals,1,157
193373,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,2,18,1,1,0,Mumbai Indians,Delhi Capitals,1,157
193374,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,2,18,2,1,0,Mumbai Indians,Delhi Capitals,1,157
193375,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,2,18,3,0,1,Mumbai Indians,Delhi Capitals,1,157
193376,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,NaN,2,18,4,1,0,Mumbai Indians,Delhi Capitals,1,157

In [163]:
data.drop(['inning_x','inning_y','team1','team2'],axis='columns',inplace=True)
data.rename(columns={"total_runs":"Run_on_this_ball"},inplace=True)

<ipython-input-163-937f57602660>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(['inning_x','inning_y','team1','team2'],axis='columns',inplace=True)
<ipython-input-163-937f57602660>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={"total_runs":"Run_on_this_ball"},inplace=True)

In [164]:
data

,id,player_of_match,venue,neutral_venue,toss_winner,toss_decision,winner,method,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target
121,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
122,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
123,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
124,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
125,335982,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,bat,Mumbai Indians,NaN,17,6,1,0,Mumbai Indians,Delhi Capitals,157
193373,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,bat,Mumbai Indians,NaN,18,1,1,0,Mumbai Indians,Delhi Capitals,157
193374,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,bat,Mumbai Indians,NaN,18,2,1,0,Mumbai Indians,Delhi Capitals,157
193375,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,bat,Mumbai Indians,NaN,18,3,0,1,Mumbai Indians,Delhi Capitals,157
193376,1237181,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,bat,Mumbai Indians,NaN,18,4,1,0,Mumbai Indians,Delhi Capitals,157

In [165]:
data.batting_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [166]:
data.batting_team=data.batting_team.str.replace('Delhi Daredevils','Delhi Capitals')
data.bowling_team=data.bowling_team.str.replace('Delhi Daredevils','Delhi Capitals')

<ipython-input-166-dbf5be255bd3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Delhi Daredevils','Delhi Capitals')
<ipython-input-166-dbf5be255bd3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Delhi Daredevils','Delhi Capitals')

In [167]:
data.batting_team=data.batting_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')
data.bowling_team=data.bowling_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')

<ipython-input-167-72b66f7fdc6f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')
<ipython-input-167-72b66f7fdc6f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [168]:
data.batting_team=data.batting_team.str.replace('Kings XI Punjab', 'Punjab Kings')
data.bowling_team=data.bowling_team.str.replace('Kings XI Punjab', 'Punjab Kings')

<ipython-input-168-22722e0e0e38>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Kings XI Punjab', 'Punjab Kings')
<ipython-input-168-22722e0e0e38>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Kings XI Punjab', 'Punjab Kings')

In [169]:
data.batting_team=data.batting_team.str.replace('Punjab Kings', 'PBKS')
data.bowling_team=data.bowling_team.str.replace('Punjab Kings', 'PBKS')

<ipython-input-169-9fc7d9956df3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Punjab Kings', 'PBKS')
<ipython-input-169-9fc7d9956df3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Punjab Kings', 'PBKS')

In [170]:
data.batting_team=data.batting_team.str.replace('Royal Challengers Bangalore', 'RCB')
data.bowling_team=data.bowling_team.str.replace('Royal Challengers Bangalore', 'RCB')

<ipython-input-170-6764241e869b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Royal Challengers Bangalore', 'RCB')
<ipython-input-170-6764241e869b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Royal Challengers Bangalore', 'RCB')

In [171]:
data.batting_team=data.batting_team.str.replace('Chennai Super Kings', 'CSK')
data.bowling_team=data.bowling_team.str.replace('Chennai Super Kings', 'CSK')

<ipython-input-171-65c26faaf4f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Chennai Super Kings', 'CSK')
<ipython-input-171-65c26faaf4f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Chennai Super Kings', 'CSK')

In [172]:
data.batting_team=data.batting_team.str.replace('Mumbai Indians', 'MI')
data.bowling_team=data.bowling_team.str.replace('Mumbai Indians', 'MI')

<ipython-input-172-800fa0a02505>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Mumbai Indians', 'MI')
<ipython-input-172-800fa0a02505>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Mumbai Indians', 'MI')

In [173]:
data.batting_team=data.batting_team.str.replace('Rajasthan Royals', 'RR')
data.bowling_team=data.bowling_team.str.replace('Rajasthan Royals', 'RR')

<ipython-input-173-eae9d1f26cf7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Rajasthan Royals', 'RR')
<ipython-input-173-eae9d1f26cf7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Rajasthan Royals', 'RR')

In [174]:
data.batting_team=data.batting_team.str.replace('Delhi Capitals', 'DC')
data.bowling_team=data.bowling_team.str.replace('Delhi Capitals', 'DC')

<ipython-input-174-40d1c090a409>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Delhi Capitals', 'DC')
<ipython-input-174-40d1c090a409>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Delhi Capitals', 'DC')

In [175]:
data.batting_team=data.batting_team.str.replace('Kolkata Knight Riders', 'KKR')
data.bowling_team=data.bowling_team.str.replace('Kolkata Knight Riders', 'KKR')

<ipython-input-175-5becbd980bdc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Kolkata Knight Riders', 'KKR')
<ipython-input-175-5becbd980bdc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Kolkata Knight Riders', 'KKR')

In [176]:
data.batting_team=data.batting_team.str.replace('Sunrisers Hyderabad', 'SRH')
data.bowling_team=data.bowling_team.str.replace('Sunrisers Hyderabad', 'SRH')

<ipython-input-176-31562096be63>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Sunrisers Hyderabad', 'SRH')
<ipython-input-176-31562096be63>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Sunrisers Hyderabad', 'SRH')

In [177]:
data.batting_team=data.batting_team.str.replace('Rising Pune Supergiant', 'Rising Pune Supergiants')
data.bowling_team=data.bowling_team.str.replace('Rising Pune Supergiant', 'Rising Pune Supergiants')

<ipython-input-177-f3b7a01f730d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Rising Pune Supergiant', 'Rising Pune Supergiants')
<ipython-input-177-f3b7a01f730d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Rising Pune Supergiant', 'Rising Pune Supergiants')

In [178]:
data.batting_team=data.batting_team.str.replace('Rising Pune Supergiants', 'RPS')
data.bowling_team=data.bowling_team.str.replace('Rising Pune Supergiants', 'RPS')

<ipython-input-178-33eabc00223c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Rising Pune Supergiants', 'RPS')
<ipython-input-178-33eabc00223c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Rising Pune Supergiants', 'RPS')

In [179]:
data.batting_team=data.batting_team.str.replace('Gujarat Lions', 'GL')
data.bowling_team=data.bowling_team.str.replace('Gujarat Lions', 'GL')

<ipython-input-179-50163d791dfc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('Gujarat Lions', 'GL')
<ipython-input-179-50163d791dfc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('Gujarat Lions', 'GL')

In [180]:
data.batting_team=data.batting_team.str.replace('RPSs', 'RPS')
data.bowling_team=data.bowling_team.str.replace('RPSs', 'RPS')

<ipython-input-180-41bacc39794b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.batting_team=data.batting_team.str.replace('RPSs', 'RPS')
<ipython-input-180-41bacc39794b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.bowling_team=data.bowling_team.str.replace('RPSs', 'RPS')

In [181]:
data.drop(data[data.batting_team=='Kochi Tuskers Kerala'].index,inplace=True)
data.drop(data[data.batting_team=='Pune Warriors'].index,inplace=True)
data.drop(data[data.bowling_team=='Kochi Tuskers Kerala'].index,inplace=True)
data.drop(data[data.bowling_team=='Pune Warriors'].index,inplace=True)
data.drop(data[data.bowling_team=='RPS'].index, inplace=True)
data.drop(data[data.batting_team=='RPS'].index, inplace=True)
data.drop(data[data.bowling_team=='GL'].index, inplace=True)
data.drop(data[data.batting_team=='GL'].index, inplace=True)

<ipython-input-181-6ed3f7f418c1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.batting_team=='Kochi Tuskers Kerala'].index,inplace=True)
<ipython-input-181-6ed3f7f418c1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.batting_team=='Pune Warriors'].index,inplace=True)
<ipython-input-181-6ed3f7f418c1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.bowling_team=='Kochi Tuskers Kerala'].index,inplace=True)
<ipython-input-181-6ed3f7f418c1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.bowling_team=='Pune Warriors'].index,inplace=True)
<ipython-input-181-6ed3f7f418c1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.bowling_team=='RPS'].index, inplace=True)
<ipython-input-181-6ed3f7f418c1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.batting_team=='RPS'].index, inplace=True)
<ipython-input-181-6ed3f7f418c1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.bowling_team=='GL'].index, inplace=True)
<ipython-input-181-6ed3f7f418c1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.batting_team=='GL'].index, inplace=True)

In [182]:
data.batting_team.unique()

array(['RCB', 'PBKS', 'DC', 'KKR', 'RR', 'MI', 'CSK', 'SRH'], dtype=object)

In [183]:
data.bowling_team.unique()

array(['KKR', 'CSK', 'RR', 'MI', 'SRH', 'PBKS', 'RCB', 'DC'], dtype=object)

In [184]:
data.batting_team.unique()

array(['RCB', 'PBKS', 'DC', 'KKR', 'RR', 'MI', 'CSK', 'SRH'], dtype=object)

In [185]:
data.bowling_team.unique()

array(['KKR', 'CSK', 'RR', 'MI', 'SRH', 'PBKS', 'RCB', 'DC'], dtype=object)

In [186]:
data.isna().sum()

id                      0
player_of_match        27
venue                   0
neutral_venue           0
toss_winner             0
toss_decision           0
winner                 27
method              79450
over                    0
ball                    0
Run_on_this_ball        0
is_wicket               0
batting_team            0
bowling_team            0
Target                  0
dtype: int64

In [187]:
data=data.drop(columns=['method', 'toss_winner', 'toss_decision','neutral_venue','player_of_match'])
data=data.dropna()

In [188]:
data.isna().sum()

id                  0
venue               0
winner              0
over                0
ball                0
Run_on_this_ball    0
is_wicket           0
batting_team        0
bowling_team        0
Target              0
dtype: int64

In [189]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80314 entries, 121 to 193376
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                80314 non-null  int64
 1   venue             80314 non-null  object
 2   winner            80314 non-null  object
 3   over              80314 non-null  int64
 4   ball              80314 non-null  int64
 5   Run_on_this_ball  80314 non-null  int64
 6   is_wicket         80314 non-null  int64
 7   batting_team      80314 non-null  object
 8   bowling_team      80314 non-null  object
 9   Target            80314 non-null  int64
dtypes: int64(6), object(4)
memory usage: 6.7+ MB

In [190]:
data['Ball_Number']=(data['over'])*6+data['ball']
data

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number
121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,RCB,KKR,223,38
122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,RCB,KKR,223,39
123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,RCB,KKR,223,40
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,RCB,KKR,223,41
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,RCB,KKR,223,42
...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,MI,DC,157,108
193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,MI,DC,157,109
193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,MI,DC,157,110
193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,MI,DC,157,111
193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,MI,DC,157,112

In [191]:
data_temp=data[['id','Run_on_this_ball','is_wicket']]

In [192]:
data_temp

             id  Run_on_this_ball  is_wicket
121      335982                 0          0
122      335982                 1          0
123      335982                 1          0
124      335982                 1          0
125      335982                 0          0
...         ...               ...        ...
193372  1237181                 1          0
193373  1237181                 1          0
193374  1237181                 1          0
193375  1237181                 0          1
193376  1237181                 1          0

[80314 rows x 3 columns]

In [193]:
data_temp=data_temp.groupby('id').cumsum()
data_temp

        Run_on_this_ball  is_wicket
121                    0          0
122                    1          0
123                    2          0
124                    3          0
125                    3          0
...                  ...        ...
193372               154          4
193373               155          4
193374               156          4
193375               156          5
193376               157          5

[80314 rows x 2 columns]

In [194]:
data=data.reset_index()
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,RCB,KKR,223,38
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,RCB,KKR,223,39
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,RCB,KKR,223,40
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,RCB,KKR,223,41
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,RCB,KKR,223,42
...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,MI,DC,157,108
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,MI,DC,157,109
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,MI,DC,157,110
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,MI,DC,157,111
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,MI,DC,157,112

In [195]:
data_temp=data_temp.reset_index()
data_temp

        index  Run_on_this_ball  is_wicket
0         121                 0          0
1         122                 1          0
2         123                 2          0
3         124                 3          0
4         125                 3          0
...       ...               ...        ...
80309  193372               154          4
80310  193373               155          4
80311  193374               156          4
80312  193375               156          5
80313  193376               157          5

[80314 rows x 3 columns]

In [196]:
data_temp.rename(columns={"Run_on_this_ball":"Runs"},inplace=True)
data_temp.rename(columns={"is_wicket":"Wickets"},inplace=True)
data_temp

        index  Runs  Wickets
0         121     0        0
1         122     1        0
2         123     2        0
3         124     3        0
4         125     3        0
...       ...   ...      ...
80309  193372   154        4
80310  193373   155        4
80311  193374   156        4
80312  193375   156        5
80313  193376   157        5

[80314 rows x 3 columns]

In [197]:
data[['Runs','Wickets']]=data_temp[['Runs','Wickets']]
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,RCB,KKR,223,38,0,0
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,RCB,KKR,223,39,1,0
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,RCB,KKR,223,40,2,0
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,RCB,KKR,223,41,3,0
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,RCB,KKR,223,42,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,MI,DC,157,108,154,4
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,MI,DC,157,109,155,4
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,MI,DC,157,110,156,4
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,MI,DC,157,111,156,5
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,MI,DC,157,112,157,5

In [198]:
data['Balls_Left']=120-data['Ball_Number']
data['Runs_Left']=data['Target']-data['Runs']
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,RCB,KKR,223,38,0,0,82,223
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,RCB,KKR,223,39,1,0,81,222
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,RCB,KKR,223,40,2,0,80,221
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,RCB,KKR,223,41,3,0,79,220
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,RCB,KKR,223,42,3,0,78,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,MI,DC,157,108,154,4,12,3
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,MI,DC,157,109,155,4,11,2
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,MI,DC,157,110,156,4,10,1
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,MI,DC,157,111,156,5,9,1
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,MI,DC,157,112,157,5,8,0

In [199]:
data = data[data['id'] != 335982]
data.head(10)

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left
101,225,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,1,4,0,PBKS,CSK,241,1,4,0,119,237
102,226,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,2,0,0,PBKS,CSK,241,2,4,0,118,237
103,229,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,5,0,0,PBKS,CSK,241,5,4,0,115,237
104,230,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,6,4,0,PBKS,CSK,241,6,8,0,114,233
105,231,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,1,1,0,PBKS,CSK,241,7,9,0,113,232
106,232,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,2,0,0,PBKS,CSK,241,8,9,0,112,232
107,233,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,3,1,0,PBKS,CSK,241,9,10,0,111,231
108,234,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,4,0,0,PBKS,CSK,241,10,10,0,110,231
109,235,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,5,4,0,PBKS,CSK,241,11,14,0,109,227
110,236,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,6,1,0,PBKS,CSK,241,12,15,0,108,226

In [200]:
data['Wickets_Left']=10-data['Wickets']
data

<ipython-input-200-dac19822872f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Wickets_Left']=10-data['Wickets']

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left,Wickets_Left
101,225,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,1,4,0,PBKS,CSK,241,1,4,0,119,237,10
102,226,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,2,0,0,PBKS,CSK,241,2,4,0,118,237,10
103,229,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,5,0,0,PBKS,CSK,241,5,4,0,115,237,10
104,230,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,6,4,0,PBKS,CSK,241,6,8,0,114,233,10
105,231,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,1,1,0,PBKS,CSK,241,7,9,0,113,232,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,MI,DC,157,108,154,4,12,3,6
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,MI,DC,157,109,155,4,11,2,6
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,MI,DC,157,110,156,4,10,1,6
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,MI,DC,157,111,156,5,9,1,5
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,MI,DC,157,112,157,5,8,0,5

In [201]:
data.drop(columns=['index'])

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left,Wickets_Left
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,1,4,0,PBKS,CSK,241,1,4,0,119,237,10
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,2,0,0,PBKS,CSK,241,2,4,0,118,237,10
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,5,0,0,PBKS,CSK,241,5,4,0,115,237,10
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,6,4,0,PBKS,CSK,241,6,8,0,114,233,10
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,1,1,0,PBKS,CSK,241,7,9,0,113,232,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,MI,DC,157,108,154,4,12,3,6
80310,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,MI,DC,157,109,155,4,11,2,6
80311,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,MI,DC,157,110,156,4,10,1,6
80312,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,MI,DC,157,111,156,5,9,1,5
80313,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,MI,DC,157,112,157,5,8,0,5

In [202]:
data.winner.unique()

array(['Chennai Super Kings', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Kings XI Punjab', 'Deccan Chargers',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Delhi Capitals'],
      dtype=object)

In [203]:
data.winner=data.winner.str.replace('Chennai Super Kings', 'CSK')
data.winner=data.winner.str.replace('Royal Challengers Bangalore', 'RCB')
data.winner=data.winner.str.replace('Kings XI Punjab', 'PBKS')
data.winner=data.winner.str.replace('Delhi Daredevils', 'DC')
data.winner=data.winner.str.replace('Delhi Capitals', 'DC')
data.winner=data.winner.str.replace('Deccan Chargers', 'SRH')
data.winner=data.winner.str.replace('Sunrisers Hyderabad', 'SRH')
data.winner=data.winner.str.replace('Kolkata Knight Riders', 'KKR')
data.winner=data.winner.str.replace('Rajasthan Royals', 'RR')
data.winner=data.winner.str.replace('Mumbai Indians', 'MI')

<ipython-input-203-79b1ef867f2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Chennai Super Kings', 'CSK')
<ipython-input-203-79b1ef867f2d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Royal Challengers Bangalore', 'RCB')
<ipython-input-203-79b1ef867f2d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Kings XI Punjab', 'PBKS')
<ipython-input-203-79b1ef867f2d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Delhi Daredevils', 'DC')
<ipython-input-203-79b1ef867f2d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Delhi Capitals', 'DC')
<ipython-input-203-79b1ef867f2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Deccan Chargers', 'SRH')
<ipython-input-203-79b1ef867f2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Sunrisers Hyderabad', 'SRH')
<ipython-input-203-79b1ef867f2d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Kolkata Knight Riders', 'KKR')
<ipython-input-203-79b1ef867f2d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Rajasthan Royals', 'RR')
<ipython-input-203-79b1ef867f2d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.winner=data.winner.str.replace('Mumbai Indians', 'MI')

In [204]:
data.winner.unique()

array(['CSK', 'DC', 'RCB', 'KKR', 'RR', 'PBKS', 'SRH', 'MI'], dtype=object)

In [205]:
data.drop(['over','ball','Run_on_this_ball','is_wicket','Ball_Number','Wickets'],axis='columns',inplace=True)
data

<ipython-input-205-5c2749de01c5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(['over','ball','Run_on_this_ball','is_wicket','Ball_Number','Wickets'],axis='columns',inplace=True)

,index,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left
101,225,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,119,237,10
102,226,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,118,237,10
103,229,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,115,237,10
104,230,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,8,114,233,10
105,231,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,9,113,232,10
...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,154,12,3,6
80310,193373,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,155,11,2,6
80311,193374,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,156,10,1,6
80312,193375,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,156,9,1,5
80313,193376,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,157,8,0,5

In [206]:
data['Current RR']=data['Runs']*6/(120-data['Balls_Left'])
data

<ipython-input-206-736bcf331c20>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Current RR']=data['Runs']*6/(120-data['Balls_Left'])

,index,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR
101,225,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,119,237,10,24.000000
102,226,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,118,237,10,12.000000
103,229,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,115,237,10,4.800000
104,230,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,8,114,233,10,8.000000
105,231,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,9,113,232,10,7.714286
...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,154,12,3,6,8.555556
80310,193373,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,155,11,2,6,8.532110
80311,193374,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,156,10,1,6,8.509091
80312,193375,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,156,9,1,5,8.432432
80313,193376,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,157,8,0,5,8.410714

In [207]:
data['Required RR']=data['Runs_Left']*6/data['Balls_Left']
data

<ipython-input-207-8e1d8a9549f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Required RR']=data['Runs_Left']*6/data['Balls_Left']

,index,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR
101,225,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,119,237,10,24.000000,11.949580
102,226,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,118,237,10,12.000000,12.050847
103,229,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,115,237,10,4.800000,12.365217
104,230,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,8,114,233,10,8.000000,12.263158
105,231,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,9,113,232,10,7.714286,12.318584
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,154,12,3,6,8.555556,1.500000
80310,193373,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,155,11,2,6,8.532110,1.090909
80311,193374,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,156,10,1,6,8.509091,0.600000
80312,193375,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,156,9,1,5,8.432432,0.666667
80313,193376,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,157,8,0,5,8.410714,0.000000

In [208]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [209]:
data['result']=data.apply(result,axis=1)
data

<ipython-input-209-5d1797111cc7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['result']=data.apply(result,axis=1)

,index,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
101,225,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,119,237,10,24.000000,11.949580,0
102,226,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,118,237,10,12.000000,12.050847,0
103,229,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,4,115,237,10,4.800000,12.365217,0
104,230,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,8,114,233,10,8.000000,12.263158,0
105,231,335983,"Punjab Cricket Association Stadium, Mohali",CSK,PBKS,CSK,241,9,113,232,10,7.714286,12.318584,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,154,12,3,6,8.555556,1.500000,1
80310,193373,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,155,11,2,6,8.532110,1.090909,1
80311,193374,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,156,10,1,6,8.509091,0.600000,1
80312,193375,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,156,9,1,5,8.432432,0.666667,1
80313,193376,1237181,Dubai International Cricket Stadium,MI,MI,DC,157,157,8,0,5,8.410714,0.000000,1

In [210]:
data=data.drop(columns=['winner'])

In [211]:
data.describe()

,index,id,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
count,80213.000000,8.021300e+04,80213.00000,80213.000000,80213.000000,80213.000000,80213.000000,80213.000000,8.021200e+04,80213.000000
mean,96485.662125,7.535087e+05,165.68909,75.295763,62.852231,90.393328,7.160959,16.463501,inf,0.522845
std,58122.824662,3.140432e+05,28.70614,47.392234,33.416320,50.590899,2.437558,45.913328,NaN,0.499481
min,225.000000,3.359830e+05,68.00000,0.000000,-3.000000,-15.000000,0.000000,0.000000,-1.200000e+03,0.000000
25%,41953.000000,5.011990e+05,148.00000,35.000000,35.000000,50.000000,6.000000,4.158416,4.829268e+00,0.000000
50%,97099.000000,7.292990e+05,166.00000,72.000000,64.000000,90.000000,8.000000,7.300000,8.926829e+00,1.000000
75%,152150.000000,1.136568e+06,185.00000,112.000000,92.000000,129.000000,9.000000,13.200000,1.532339e+01,1.000000
max,193376.000000,1.237181e+06,247.00000,226.000000,119.000000,247.000000,10.000000,1110.000000,inf,1.000000

In [212]:
data=data[data.Balls_Left>0]
data=data[data.Runs_Left>=0]

In [213]:
data.describe()

,index,id,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
count,79323.000000,7.932300e+04,79323.000000,79323.000000,79323.000000,79323.000000,79323.000000,79323.000000,79323.000000,79323.000000
mean,96484.664070,7.535363e+05,165.730948,74.660956,63.237724,91.069992,7.175145,16.458842,16.933763,0.521299
std,58117.612083,3.140258e+05,28.697328,46.991853,33.223461,50.147681,2.436417,45.733135,45.883652,0.499549
min,225.000000,3.359830e+05,68.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,41941.500000,5.011990e+05,148.000000,34.000000,35.000000,50.000000,6.000000,4.142857,4.930693,0.000000
50%,97104.000000,7.292990e+05,166.000000,72.000000,64.000000,90.000000,8.000000,7.276596,8.962025,1.000000
75%,152151.500000,1.136568e+06,185.000000,111.000000,92.000000,129.000000,9.000000,13.200000,15.300000,1.000000
max,193376.000000,1.237181e+06,247.000000,223.000000,119.000000,247.000000,10.000000,1110.000000,1284.000000,1.000000

In [214]:
data = data.sample(frac = 1)
data

,index,id,venue,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
34204,82146,598022,Eden Gardens,CSK,KKR,120,13,57,107,9,1.238095,11.263158,1
12374,25834,392234,Kingsmead,PBKS,CSK,117,63,112,54,3,47.250000,2.892857,0
19885,41338,419165,Dr DY Patil Sports Academy,MI,CSK,169,10,63,159,10,1.052632,15.142857,0
79826,192487,1216547,Dubai International Cricket Stadium,MI,RCB,202,201,28,1,5,13.108696,0.214286,0
26673,62140,548321,Feroz Shah Kotla,DC,SRH,158,73,30,85,8,4.866667,17.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37961,92188,598063,Wankhede Stadium,RR,MI,167,131,101,36,6,41.368421,2.138614,0
30162,71992,548363,Eden Gardens,KKR,MI,183,144,44,39,6,11.368421,5.318182,0
27577,64881,548332,"MA Chidambaram Stadium, Chepauk",CSK,RR,147,59,28,88,9,3.847826,18.857143,1
21059,44679,501211,"MA Chidambaram Stadium, Chepauk",RCB,CSK,184,12,103,172,9,4.235294,10.019417,0
44293,105470,734021,"Rajiv Gandhi International Stadium, Uppal",SRH,RCB,161,126,21,35,8,7.636364,10.000000,1

In [215]:
data.isnull().sum()

index           0
id              0
venue           0
batting_team    0
bowling_team    0
Target          0
Runs            0
Balls_Left      0
Runs_Left       0
Wickets_Left    0
Current RR      0
Required RR     0
result          0
dtype: int64

In [216]:
venues=data.venue.unique()
venues

array(['Eden Gardens', 'Kingsmead', 'Dr DY Patil Sports Academy',
       'Dubai International Cricket Stadium', 'Feroz Shah Kotla',
       'De Beers Diamond Oval', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sheikh Zayed Stadium', 'Holkar Cricket Stadium',
       'M.Chinnaswamy Stadium', 'Wankhede Stadium',
       'MA Chidambaram Stadium, Chepauk', 'Newlands', "St George's Park",
       'Sharjah Cricket Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'M Chinnaswamy Stadium', 'SuperSport Park',
       'JSCA International Stadium Complex',
       'Sardar Patel Stadium, Motera',
       'Himachal Pradesh Cricket Association Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Barabati Stadium', 'New Wanderers Stadium',
       'Maharashtra Cricket Association Stadium', 'Brabourne Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'OUTsurance Oval', 'Vidarbha Cricket Association Stadium, Jamtha',
       'Subrata Roy Sahara Stadium', 'Buffalo Park'], dtype=object)

In [217]:
len(venues)

33

In [218]:
data.venue=data.venue.str.replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')
data.venue=data.venue.str.replace('Punjab Cricket Association IS Bindra Stadium, Mohali','Punjab Cricket Association Stadium, Mohali')
data.venue=data.venue.str.replace('Maharashtra Cricket Association Stadium','Subrata Roy Sahara Stadium')

<ipython-input-218-7cc86ed274c9>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data.venue=data.venue.str.replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')

In [219]:
venues=data.venue.unique()
venues

array(['Eden Gardens', 'Kingsmead', 'Dr DY Patil Sports Academy',
       'Dubai International Cricket Stadium', 'Feroz Shah Kotla',
       'De Beers Diamond Oval', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sheikh Zayed Stadium', 'Holkar Cricket Stadium',
       'M Chinnaswamy Stadium', 'Wankhede Stadium',
       'MA Chidambaram Stadium, Chepauk', 'Newlands', "St George's Park",
       'Sharjah Cricket Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'SuperSport Park',
       'JSCA International Stadium Complex',
       'Sardar Patel Stadium, Motera',
       'Himachal Pradesh Cricket Association Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Barabati Stadium', 'New Wanderers Stadium',
       'Subrata Roy Sahara Stadium', 'Brabourne Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'OUTsurance Oval', 'Vidarbha Cricket Association Stadium, Jamtha',
       'Buffalo Park'], dtype=object)

In [220]:
len(venues)

30

In [221]:
le=LabelEncoder()
LE=LabelEncoder()

In [222]:
data['venue']=LE.fit_transform(data['venue'])
data['batting_team']=le.fit_transform(data['batting_team'])
data['bowling_team']=le.fit_transform(data['bowling_team'])
data

,index,id,venue,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
34204,82146,598022,7,0,2,120,13,57,107,9,1.238095,11.263158,1
12374,25834,392234,12,4,0,117,63,112,54,3,47.250000,2.892857,0
19885,41338,419165,4,3,0,169,10,63,159,10,1.052632,15.142857,0
79826,192487,1216547,6,3,5,202,201,28,1,5,13.108696,0.214286,0
26673,62140,548321,8,1,7,158,73,30,85,8,4.866667,17.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37961,92188,598063,29,6,3,167,131,101,36,6,41.368421,2.138614,0
30162,71992,548363,7,2,3,183,144,44,39,6,11.368421,5.318182,0
27577,64881,548332,14,0,6,147,59,28,88,9,3.847826,18.857143,1
21059,44679,501211,14,5,0,184,12,103,172,9,4.235294,10.019417,0
44293,105470,734021,19,7,5,161,126,21,35,8,7.636364,10.000000,1

In [223]:
LE.classes_

array(['Barabati Stadium', 'Brabourne Stadium', 'Buffalo Park',
       'De Beers Diamond Oval', 'Dr DY Patil Sports Academy',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Dubai International Cricket Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Himachal Pradesh Cricket Association Stadium',
       'Holkar Cricket Stadium', 'JSCA International Stadium Complex',
       'Kingsmead', 'M Chinnaswamy Stadium',
       'MA Chidambaram Stadium, Chepauk', 'New Wanderers Stadium',
       'Newlands', 'OUTsurance Oval',
       'Punjab Cricket Association Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sardar Patel Stadium, Motera', 'Sawai Mansingh Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Sharjah Cricket Stadium', 'Sheikh Zayed Stadium',
       "St George's Park", 'Subrata Roy Sahara Stadium',
       'SuperSport Park', 'Vidarbha Cricket Association Stadium, Jamtha',
       'Wankhede Stadium'], dtype=object)

In [224]:
le.classes_

array(['CSK', 'DC', 'KKR', 'MI', 'PBKS', 'RCB', 'RR', 'SRH'], dtype=object)

In [227]:
venues = data['venue'].unique()
venues

## Score Prediction using XGBOOST

In [ ]:
v=data[['batting_team','bowling_team','venue']]
f=data[['Target']]

In [347]:
X_train, X_test, y_train, y_test = train_test_split(v, f, test_size=0.1, random_state=1)

In [348]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder 
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler 

from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.9/dist-packages (1.7.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from xgboost) (1.10.1)

In [349]:
new_model=XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1)
new_model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.2, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=12, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=1000, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=1, ...)

In [350]:
X_train

       batting_team  bowling_team  venue
25627             1             5     13
61052             2             6     21
42585             5             4     13
39418             6             7     24
31402             5             7     19
...             ...           ...    ...
57111             2             1      8
30063             2             3      7
74107             3             5     24
75071             6             7      6
65746             0             4     26

[71390 rows x 3 columns]

In [351]:
y_pred = new_model.predict(X_test)
print(mean_absolute_error(y_test,y_pred))

13.741503547332814

In [352]:
pickle.dump(new_model, open('Score_pred', 'wb'))

In [354]:
s=pickle.load(open('Score_pred', 'rb'))

In [361]:
new_data = pd.DataFrame({'batting_team': [0], 'bowling_team': [4], 'venue':[12]})
predicted_score = s.predict(new_data)
print('Predicted first innings score:', predicted_score)

Predicted first innings score: [150.85114]

# Win Prediction using Hybrid Model

In [ ]:
AB=data[['batting_team','bowling_team','venue','Required RR', 'Current RR']]
AC=data['result']

In [342]:
X=data[['batting_team','bowling_team','venue','Runs_Left','Balls_Left','Wickets_Left']]
y=data['result']

In [343]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [334]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

In [335]:
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [336]:
gb_model = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)

In [337]:
gb_model.fit(X_train, y_train)

GradientBoostingClassifier(random_state=42)

In [338]:
rf_pred = rf_model.predict(X_test)
gb_pred = gb_model.predict(X_test)

In [339]:
hybrid_pred = (0.7 * rf_pred) + (0.3 * gb_pred)

In [340]:
hybrid_pred = [int(round(x)) for x in hybrid_pred]

In [ ]:
acc = accuracy_score(y_test, hybrid_pred)
print(f"Accuracy: {acc*100}%")

In [344]:
X_train

       batting_team  bowling_team  venue  Runs_Left  Balls_Left  Wickets_Left
75544             6             3     24        121          95             6
35552             6             5     21         65           8             8
25894             2             6     21         75          32             3
70790             7             2     19         49          53            10
37540             4             1      8         89          51             9
...             ...           ...    ...        ...         ...           ...
58626             2             5     13         52          75             8
38907             0             3      7        101          33             7
41135             2             6     24         27          64             3
52376             0             3      7         51          39             2
76414             7             6      6         36          26             8

[63458 rows x 6 columns]

In [ ]:
pickle.dump(rf_model, open('rf_x', 'wb'))

In [ ]:
pickle.dump(gb_model, open('gb_x', 'wb'))

In [ ]:
nrf=pickle.load(open('rf_x', 'rb'))

In [ ]:
ngb=pickle.load(open('gb_x', 'rb'))

In [ ]:
i=0.3*ngb.predict_proba([[0,1,8,62,93,4]])+0.7*nrf.predict_proba([[0,1,8,62,93,4]])
i*100

In [ ]:
AB_train, AB_test, AC_train, AC_test=train_test_split(AB, AC, test_size=0.2, random_state=42)

In [ ]:
rf_model0 = RandomForestClassifier(n_estimators=100, random_state=42)

In [ ]:
rf_model0.fit(AB_train, AC_train)

In [ ]:
gb_model0 = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)

In [ ]:
gb_model0.fit(AB_train, AC_train)

In [ ]:
rf_pred0 = rf_model0.predict(AB_test)
gb_pred0 = gb_model0.predict(AB_test)

In [ ]:
hybrid_pred0 = (0.7 * rf_pred0) + (0.3 * gb_pred0)

In [ ]:
hybrid_pred0 = [int(round(x)) for x in hybrid_pred0]

In [ ]:
acc = accuracy_score(y_test, hybrid_pred0)
print(f"Accuracy: {acc*100}%")

In [329]:
AB_train

       batting_team  bowling_team  venue  Required RR  Current RR
21965             4             1      8     4.000000   37.777778
19907             3             0      4     9.185185    6.923077
66478             2             7      7    11.225806    6.827586
34938             0             7     14    20.357143    4.239130
75881             5             6     24     4.961538   25.875000
...             ...           ...    ...          ...         ...
51694             2             6      1    10.727273    6.571429
66671             6             4     21   121.333333    0.162162
17943             7             0     28     0.069767   24.352941
51687             2             6      1    10.358491    7.285714
15846             7             3      4    21.257143    3.458824

[63458 rows x 5 columns]

In [ ]:
pickle.dump(rf_model0, open('rf_rr', 'wb'))
pickle.dump(gb_model0, open('gb_rr', 'wb'))

In [ ]:
mrf=pickle.load(open('rf_rr','rb'))
mgb=pickle.load(open('gb_rr', 'rb'))

In [328]:
j=0.3*mgb.predict_proba([[0,1,8,10,6.3]])+0.7*mrf.predict_proba([[0,1,8,10,6.3]])
j*100

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([[19.8943519, 80.1056481]])

In [ ]:
x=(0.3*gb_model.predict_proba([[3, 6, 7, 36, 7]]))+(0.7*rf_model.predict_proba([[3, 6, 7, 36, 7]]))
x

In [ ]:
final = 0.6*j+0.4*i
final